<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include("partials/head.ejs",{tituloWeb: 'Error Register'}) %>
	</head>
	<body>
		<section class="hero">
			<h1>USER ERROR SIGNUP</h1>
            <a style="color: white; background-color: black; padding: 5px; text-decoration: none; font-size: 18px;" href="/api/register">Volver a registrarse</a>
		</section>
	</body>
</html>