<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include("partials/head.ejs",{tituloWeb: 'inicio'}) %>
	</head>
	<body>
		<header><%- include("partials/header.ejs") %></header>
		<section class="hero">
			<h1>Bienvenido a mi API RESTful</h1>
			<span>By Josinei</span>
		</section>
	</body>
	<footer><%- include("partials/footer.ejs") %></footer>
</html>