<html lang="en">
<head>
    <script defer src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <%- include("partials/head.ejs", {tituloWeb: "Message"}) %>
    <script defer src="/js/chat.js"></script>
</head>
<body>
    <section class="chat-section">
       <div class="chat-div">
            <div class="chat-header">
                 <div class="chat-info">
                    <div class="chat-img">
                        <img src="https://pps.whatsapp.net/v/t61.24694-24/305009782_463895338969401_6326745479884237183_n.jpg?ccb=11-4&oh=01_AdSLMaQw5t98BWdnbP8c7mfv7yP4UEzZu3-JEH2dN7dBbg&oe=63604FDC" alt="img-group">
                    </div>
                    <span>BACKEND - Coder - 32150</span>
                </div>
                <div class="chat-search">
                    <span>Buscar</span>
                </div>
            </div>
            <div id="history-message" class="history-message">
				<%if (allMessages.length === 0) { %>
                    <div class="history-message-div">
                        <div class="history-message-container">
                            <div class="header-message">
                                <span>Bot</span>
                            </div>
                            <div>
                                <span>Esto es un chat privado....</span>
                            </div>
                            <span class="hora">23:06</span>
                        </div>
                    </div>
                <% } %>   
				<%if (allMessages.length > 0) { %>
					<% allMessages.forEach(data => { %>
                        <div class="history-message-div">
                            <div class="history-message-container">
                                <div class="header-message">
                                    <span><%= data.username%></span>
                                </div>
                                <div>
                                    <span><%= data.message %></span>
                                </div>
                            </div>
                        </div>
					<% }) %>
				<% } %>	
            </div>
            <div class="chat-footer">
                <div class="chat-input">
                    <textarea name="message" id="input-message" cols="70" rows="1" placeholder="Escribe tu mensaje aquí"></textarea>
                    <p id="text"></p>
                </div>
                <div class="chat-button">
                    <button id="submit"><i class="fa-solid fa-arrow-right-long"></i></button>
                </div>
            </div>
       </div>
    </section>
</body>
</html>