<div class="navbar">
	<nav>
		<ul>
			<li><a href="/api/home">Home</a></li>
			<li><a href="/api/productos/coder/productos">Productos</a></li>
			<li><a href="/api/chats/coder/chats">Chats</a></li>
			<li><a href="/api/logout">Logout</a></li>
		</ul>
	</nav>
</div>