<div class="navbar">
	<nav>
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/api">API</a></li>
			<li><a href="/getProducts">getProducts</a></li>
			<li><a href="/postProducts">postProducts</a></li>
			<li><a href="/message">Message</a></li>
		</ul>
	</nav>
</div>
